/* Colors Theme*/

$color-title:  #E63E1A;
$color-header: rgb(172, 34, 0);
$color-background: rgb(94, 27, 10);
$color-content: #181717;


/* Font Theme */

$font-weights: (
    "regular":400,
    "medium": 500,
    "bold": 700,
);

/* Other Variable */

$mobile: 850px;