/* Colors Theme*/

$color-1:  #87a7eb;
$color-2: rgb(15, 14, 68);
$color-3: #EA7E5D;
$background-color: #1E211C;
$text-color: #fff;


/* Font Theme */

$font-weights: (
    "regular":400,
    "medium": 500,
    "bold": 700,
);

/* Other Variable */

$mobile: 850px;