@import url('https://fonts.googleapis.com/css2?family=Fascinate&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import './variables';
@import './functions';

/* Global */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a:visited{
    color:inherit
}
body {
    background-image: #5383e9 no-repeat;
    text-align: 1.6em;
    color: white;
}
ul {
    list-style: none;
    text-align: center;
}
/* Classes: Share */
.container{
    width:97%;
    margin: auto;
    @include mobileSize{
        width: 99%;
    }
}

.headerStyle {
    @include fontTheme(#87a7eb, 20px);
    font-weight: map-get($font-weights,regular);
    text-align: center;
    padding: 5px;
    margin: 10px 0;
    background: rgb(255, 255, 255);
    border-radius: 20px;
    flex-basis: 20%;
    letter-spacing: 4px;
    @include mobileSize{
        font-size: 10px;
        margin: 5px 0;
        letter-spacing: 0;
    }
}

.bodyContainer{
    
    display: flex;
    article, aside, section{
        background: rgb(255, 255, 255);
        color: black;
        padding: 10px 20px;
        h5{
            @include fontTheme(black, 15px,"Raleway");
        }
        p, li{
            @include fontTheme(black, 15px,"Raleway");
            line-height: 1.6em;
        }
        h1,h2,h3{
            @include fontTheme(black, 20px);
        }
    }
    section{
        border: $color-1 solid;
        border-right: 1px;
        border-left: 1px;
    }
}

.separator{
    @include fontTheme();
    background: $color-1;
    text-align: center;
}

.section{
    flex: 10;
    border: $color-1 solid 2px;
}

.aside{
    flex: 1;
    border: $color-1 solid 5px;
}

/* ID: Unique */

#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:$color-1;
    a{
        text-decoration: none;
        color: white;
    }
    a:visited{
        color:inherit;
    }
    button, button:hover, button:focus{
        cursor: pointer;
        outline:none;
        border:none;
    }
}

#navbar{
    @include fontTheme (rgb(0, 0, 0), 20px, "Raleway");
    background: rgb(255, 255, 255);
    ul{
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    }
    li{
        text-align: center;
        padding:10px 1%;
    }
    li:hover{
        color: white;
        background-color: $color-1;
        padding:10px 1%;
        cursor: pointer;
    }
    a{
        text-decoration: none;
        color: rgb(0, 0, 0);
    }
    a:visited{
        color:inherit;
    }
    @include mobileSize{
        font-size: 55%;
        font-weight: 800;
    }
}

#showcase{
    @include fontTheme(rgb(255, 255, 255), 150%, ("Raleway"));
    background:
    linear-gradient(
      rgba(0, 0, 0, 0.322)
    ),
    url("https://www.droidgamers.com/wp-content/uploads/2019/05/tales-of-wind-2.jpg") no-repeat center;
    background-size: 100%;
    padding: 5% 20px;
    h1{
        font-family: "Fascinate";
    }
    h1, h3 {
        text-align: center;
        vertical-align: middle;
        letter-spacing: 2px;
        line-height: 1.5em;
    }
    @include mobileSize{
        font-size: 80%;
    };
}

#footer{
    background-color: $color-1;
    @include fontTheme (white, 20px);
    text-align: center;
    padding: 10px;
    letter-spacing: 4px;
}